# Fichiers de données volumineux (à ne pas envoyer sur GitHub)
train.csv
train.csv.zip

# Système d'exploitation macOS
.DS_Store
.AppleDouble
.LSOverride

# Environnements Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs et Editeurs
.vscode/
.idea/
*.swp
*.swo
